@import "settings.scss";

/* HEADER STYLES */

.header {
    @include adaptiveValue('padding-top', 40, 20);
    @include adaptiveValue('padding-bottom', 40, 20);
    
    // .header__container
    &__container{}
    // .header__inner
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    // .header__logo
    &__logo {}
    // .header__menu
    &__menu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    // .header__user-menu
    &__user-menu {}
}
.menu {
    // .menu__icon
    &__icon {
        display: none;
    }
    // .menu__body
    &__body {}
    // .menu__list
    &__list {
        display: flex;
        justify-content: center;
        gap: 10px 30px;
        flex-wrap: wrap;
    }
    // .menu__item
    &__item {}
    // .menu__link
    &__link {
        position: relative;
        display: block;

        height: 100%;

        transition: color .3s ease 0s;

        font-weight: 700;
        color: #436372;

        &::after{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 1px;

            background-color: transparent;

            transition: background-color .3s ease 0s;
        }

        &:hover{
            color: $accent;
            &::after{
                background-color: $accent;
            }
        }
    }
}

.icon-menu{    
    position: relative; 
    z-index: 10;
    
    padding: 15px 0;

    overflow: hidden;

    &.active{
        span{
            transform: translateX(-100%); 
        }

        &::before{
            transform: rotate(43deg);
            top: 15px;
        }

        &::after{
            transform: rotate(135deg);
            bottom: 15px;
        }
    }

    span{
        display: block;
        width: 40px;
        height: 4px;

        background-color: #436372;

        transition: .2s ease 0s;
    }

    &::before,
    &::after{
        content: "";
        position: absolute;        
        left: 0;

        width: 40px;
        height: 4px;

        background-color: #436372;

        transition: .2s ease 0s;
    }

    &::before{
        top: 0;
    }

    &::after{
        bottom: 0;
    }

    &:hover{
        span,
        &::before,
        &::after{
            background-color: #a3bbc8;
        }
    }
}

.user-menu {
    display: flex;
    @include adaptiveValue('gap', 20, 7);
    align-items: center;
    justify-content: flex-end;

    // .user-menu__form
    &__form {}
    // .user-menu__label
    &__label {
        width: 50px;
        height: 50px;

        background-color: #edf1f4;

        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        path{
            transition: .3s ease 0s;
        }

        &:hover{
            path{
                fill: $accent;
            }
        }
    }
    // .user-menu__search
    &__search {}
    // .user-menu__list
    &__list {
        display: flex;

        padding: 0 40px;

        height: 50px;

        background-color: #fcd7b6;

        border-radius: 25px;
    }
    // .user-menu__item
    &__item {
        display: flex;
        align-items: center;
        &:not(:first-child){
            .user-menu__link{
                margin-left: 60px;

                position: relative;

                &::before{
                    content: "";
                    position: absolute;
                    top: -50%;
                    left: -30px;

                    width: 1px;
                    height: 32px;

                    background-color: #fde7d3;
                }
            }
        }        
    }
    // .user-menu__link
    &__link {
        position: relative;

        display: flex;
        path{
            transition: .3s ease 0s;
        }
        &:hover{
            path{
                fill: $accent;
            }
        }
        span{
            position: absolute;
            top: -7px;
            right: -8px;

            width: 15px;
            height: 15px;

            background-color: #fff;
            border-radius: 50%;

            color: #243f4d;
            font-size: 10px;
            line-height: 1;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    // .user-menu__menu
    &__menu {
        width: 50px;
        height: 50px;

        background-color: #a3bbc8;

        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        path{
            transition: .3s ease 0s;
        }

        &:hover{
            path{
                fill: $accent;
            }
        }
    }    
}

@media(max-width: 1200px){
    .header{
        &__inner{
            display: flex;
            justify-content: space-between;
        }
    }
    .menu{
        position: absolute;
        left: 0;
        top: -100%;
        z-index: 2;

        width: 100%;

        background-color: #999;

        transform: translateX(0%);

        transition: top .5s ease 0s;

        &.active{
            top: 0;
        }

        &__icon{
            display: block;

            position: relative;
            z-index: 10;
        }
        &__list{
            flex-direction: column;
            gap: 0;
        }
        &__item{
            width: 100%;

            border-bottom: 1px solid #444;
            border-top: 1px solid #d3d2d2;            
        }
        &__link{
            padding: 15px 0;
            width: 100%;

            text-align: center;
            color: #FFF;
            text-transform: uppercase;

            transition: background-color .3s ease 0s;

            &:hover{
                &::after{
                    display: none;
                }

                background-color: #fcd7b6;
            }
        }
    }
}

@media(max-width: 560px){
    .header{
        &__inner{
            flex-direction: column;
        }
    }
    .menu{
        &__icon{
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}

/* END OF HEADER STYLES */

////////////////////////////////////////////////////
/* MAIN */
////////////////////////////////////////////////////

/* TOP SLIDER & OFFERS STYLES */

.top-slider {
    position: relative;

    overflow: hidden;

    background: #fcd7b6 url('../img/top-slider/eclipse.png') center right 20% no-repeat;
    // .top-slider__container
    &__container {
        // .top-slider__container--wide
        &--wide {}
    }
    // .top-slider__slide
    &__slide {}
    // .top-slider__inner
    &__inner{
        @include adaptiveValue('padding-top', 215, 70);
        @include adaptiveValue('padding-bottom', 230, 90);
        //padding: 215px 0 230px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;

        img{
            max-width: 100%;
            height: auto;
        }
    }
    // .top-slider__content
    &__content {
        margin-right: auto;

        flex: 1 1 420px;
    }
    // .top-slider__heading
    &__heading {
        margin-bottom: 35px;

        font-family: "Rubik Medium";
        @include adaptiveValue('font-size', 72, 50);
        line-height: 1;
        text-transform: uppercase;
    }
    // .top-slider__text
    &__text {
        margin-bottom: 35px;

        max-width: 370px;

        font-size: rem(18);
        line-height: lh(30, 18);
        color: #436372;
    }
    // .top-slider__button
    &__button {
        padding-right: 100px;

        border-radius: 0;

        text-transform: none;
    }

    .swiper-pagination{
        bottom: 45px;
    }

    .swiper-pagination-bullet{
        width: 30px;
        height: 30px;

        font-size: rem(11);
        line-height: 30px;
        font-family: 'Rubik Medium';
        color: $mainColor;
        background-color: #fff;

        transition: opacity .3s ease 0s;
    }
}
.offers {
    @include adaptiveValue('margin-bottom', 70, 30);

    @include adaptiveValue('padding-top', 45, 30);
    @include adaptiveValue('padding-bottom', 45, 30);

    background-color: #fef7f0;
    // .offers__container--wide
    &__container{
        &--wide{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px 20px;
        }
    }
    // .offers__item
    &__item {
        align-self: flex-start;

        max-width: 300px;
        display: flex;
        column-gap: 20px;

        font-family: 'DM Sans';

        img{
            align-self: flex-start;
        }
    }
    // .offers__content
    &__content {}
    // .offers__title
    &__title {
        margin-bottom: 15px;

        font-size: rem(18);
        line-height: 1;
        color: #414141;
        font-weight: 700;
    }
    // .offers__text
    &__text {
        font-weight: 400;
        line-height: lh(30, 16);
    }
}

@media(max-width: $mobile){
    .top-slider{
        background: #fcd7b6;
    }
}

/* END OF TOP SLIDER & OFFER STYLES */

/* PRODUCTS SECTION STYLES */

.products {
    @include adaptiveValue('margin-bottom', 100, 40);
    // .products__container
    &__container {
        // .products__container--wide
        &--wide {}
    }
    // .products__title
    &__title {
        text-align: center;
        margin-bottom: 35px;
    }
    // .products__menu
    &__menu {
        margin: 0 auto;
        @include adaptiveValue('margin-bottom', 80, 40);             
    }
    // .products__item
    &__item {}
    // .products__link
    &__link {}
    // .products__cards
    &__cards {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;

        margin: 0 -15px;

        @include adaptiveValue('margin-bottom', 190, 60);
    }
    // .products__block
    &__block {
        flex: 1 1 25%;
        min-width: 300px;
        max-width: 320px;

        padding: 0 15px;
    }
    // .products__card
    &__card {}
    // .products__inner
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 110px;

        margin: 0 -15px;
    }
    // .products__example-block
    &__example-block{
        flex: 1 1 50%;

        max-width: 870px;
        min-width: 480px;

        padding: 0 15px;
    }
    // .products__example
    &__example {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        background-color: #feefe2;

        padding: 0 20px 20px;
    }
    // .products__image
    &__image {
        position: relative;
        top: -90px;

        height: 403px;
    }
    // .products__content
    &__content {        
        color: #243f4d;
    }
    // .products__name
    &__name {
        margin-bottom: 25px;

        font-family: 'DM Sans';
        font-size: rem(26);
        line-height: lh(32, 26);
        
        font-weight: 700;
    }
    // .products__text
    &__text {
        margin-bottom: 25px;

        max-width: 340px;

        line-height: lh(30, 16);
    }
    // .products__button
    &__button {
        padding-right: 85px;

        background-color: transparent;

        border: 1px solid #b3b7b5;

        color: #436372;

        &.button-arrow::after{
            background: url('../img/arrow-right-dark.svg');
        }
    }
}
.filter-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;   
    // .filter-menu__item
    &__item {}
    // .filter-menu__link
    &__link {
        font-family: 'DM Sans';
        font-weight: 700;
        color: #8b8b8b;

        // .filter-menu__link--current
        &--current{
            pointer-events: none;
            color: #191919;
        }
    }
}
.card {
    position: relative;

    padding: 27px 0 37px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;

    height: 100%;

    font-family: "DM Sans";

    overflow: hidden;

    cursor: pointer;

    transition: box-shadow .4s ease 0s;

    &:hover{
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.5);
        .card__hover-menu{
            bottom: 50%;
        }
    }

    // .card__figure
    &__figure{
        height: 200px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        margin-bottom: 55px;
    }
    // .card__image
    &__image {
        max-width: 100%;
    }
    // .card__title
    &__title {
        margin-bottom: 15px;
        
        font-weight: 500;
        color: #243f4d;
        line-height: 1;
    }
    // .card__price
    &__price {
        color: #a3bbc8;
        font-weight: 700;
    }
	// .card__hover-menu
	&__hover-menu {
        display: flex;
        column-gap: 20px;

        position: absolute;
        left: 50%;
        bottom: -70px;
        transform: translate(-50%, 50%);

        transition: bottom .5s ease 0s;
    }
	// .card__link
	&__link {
        width: 40px;
        height: 40px;

        border-radius: 50%;
        box-shadow: 0px 6px 47px 13px rgba(37, 37, 37, 0.2);
        background-color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color .3s ease 0s;

        path{
            transition: .3s ease 0s;
        }

        &:hover{
            background-color: #a3bbc8;

            path{
                fill: #fff;
            }
        }
    }
}

@media(max-width: $mobile){
    .products{
        &__inner{
            row-gap: 30px;
        }        
        &__image{
            top: 0;

            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}

@media(max-width: $mobileSmall){
    .products{
        &__example-block{
            min-width: 280px;
        }
    }
}

/* END OF PRODUCTS SECTION STYLES */

/* DESIGN SECTION STYLES */

.design {
    @include adaptiveValue('margin-bottom', 90, 30);
    // .design__container
    &__container {
        @include adaptiveValue('margin-bottom', 115, 50);
    }
    // .design__title
    &__title {}
    // .design__menu
    &__menu {
        margin: 0 auto;
        @include adaptiveValue('margin-bottom', 80, 40);  
    }
    // .design__cards
    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;

        margin: 0 -15px;
    }
    // .design__block
    &__block {
        flex: 1 1 33.3333%;

        padding: 0 15px;

        max-width: 400px;

        min-width: 300px;
    }
    // .design__item
    &__item {
        padding: 40px 35px;

        min-height: 245px;

        background-color: #f8f8f8;
        background-repeat: no-repeat;
        background-position: bottom -10px right;

        font-family: 'DM Sans';
        font-weight: 700;
        line-height: 1;

        &--chair{
            background-position: bottom 25px right 40px;
        }
    }
    // .design__name
    &__name {
        max-width: 170px;
        margin-bottom: 10px;
        
        font-size: rem(20);        
        color: #191919;
    }
    // .design__style
    &__style {
        color: #a3bbc8;
    }
    // .design__video
    &__video {
        //height: 500px;
        width: 100%;
        overflow: hidden;
    }
}

.video {
    position: relative;
    &:hover{
        .video__play-button{
            width: 100px;
            height: 100px;
            box-shadow: 0 0 0 15px rgba(#a3bbc8, .5);
        }
    }
    // .video__item
    &__item {
        max-height: 500px;;
        width: 100%;

        object-fit: cover;
    }
    // .video__play-button
    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 100px;
        height: 100px;

        border-radius: 50%;
        background-color: #a3bbc8;
        box-shadow: 0 0 0 15px rgba(#a3bbc8, .5);

        transition: background-color .3s ease 0s;

        display: flex;
        justify-content: center;align-items: center;

        path{
            transition: .3s ease 0s;
        }

        &:hover{
            path{
                fill: #a3bbc8;
            }

            background-color: rgba(#568fad, .7);
        }

        &.playing{        
            width: 0;
            height: 0;
            box-shadow: 0 0 0 0px rgba(#a3bbc8, .5);
            transition: .3s ease 0s;
        
            .video__pause{
                display: block;
            }
            .video__play{
                display: none;
            }
        }
    }
    &__pause{
        display: none;
    }
}

/* END OF DESIGN STYLES */

/////////////////////////////////////////////////////////////////////////////////////////////
/* TERMS.HTML */
/////////////////////////////////////////////////////////////////////////////////////////////

.terms {
    @include adaptiveValue('padding-top', 120, 60);
    @include adaptiveValue('margin-bottom', 120, 60);
    // .terms__container
    &__container {}
    // .terms__heading
    &__heading {
        margin-bottom: 25px;

        font-weight: 700;
        font-size: rem(24);
        line-height: lh(40, 24);
    }
    // .terms__list
    &__list {
        margin-left: 25px;
        @include adaptiveValue('margin-bottom', 70, 35);

        list-style: decimal-leading-zero outside;        
    }
    // .terms__item
    &__item {
        padding-left: 10px;

        &:not(:last-child){
            margin-bottom: 25px;
        }
    }
    // .terms__text
    &__text {
        @include adaptiveValue('margin-bottom', 70, 35);
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////
/* LOGIN.HTML */
/////////////////////////////////////////////////////////////////////////////////////////////

.login {
    @include adaptiveValue('padding-top', 110, 55);
    @include adaptiveValue('margin-bottom', 110, 55);

    max-width: 500px;
    padding-right: 15px;
    padding-left: 15px;

    margin: 0 auto;

    color: #436372;
    font-size: rem(14);

    // .login__form
    &__form {
        margin-bottom: 30px;
        padding-bottom: 30px;

        border-bottom: 1px solid #f6f6f6;
    }
    // .login__label
    &__label {
        display: block;
        margin-bottom: 25px;

        line-height: lh(40, 14);

        cursor: pointer;
    }
    // .login__input
    &__input {
        display: flex;
        align-items: center;

        padding: 0 20px;

        width: 100%;
        height: 60px;

        border: 1px solid #f6f6f6;

        transition: border .3s ease 0s;

        &:focus{
            border: 1px solid $mainColor;
        }
    }
    // .login__button
    &__button {
        display: block;
        margin-bottom: 30px;

        border-radius: 0;

        width: 100%;
    }
    // .login__bottom
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
    // .login__checkbox-label
    &__checkbox-label{
        position: relative;

        padding-left: 30px;

        cursor: pointer;        
    }
    // .login__checkbox
    &__checkbox {        
        &:checked{
            ~ .login__checkbox-indicator::before{
                transform: scale(1);
            }
        }
    }
    // .login__checkbox-indicator
    &__checkbox-indicator {
        position: absolute;
        top: 5px;
        left: 0;

        width: 15px;
        height: 15px;

        border-radius: 2px;
        background-color: #ebebeb;

        &::before{
            content: "";
            position: absolute;
            top: 4px;
            left: 3px;

            height: 8px;
            width: 10px;

            background: url('../img/checkbox.svg') 50% / cover no-repeat;

            transition: transform .3s ease 0s;
            transform: scale(0);

        }
    }
    // .login__link
    &__link {}
    // .login__text
    &__text {
        margin-bottom: 20px;

        text-align: center;
    }
    // .login__register
    &__register {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: rem(18);
        font-weight: 700;

        height: 60px;

        border: 1px solid #a3bbc8;

        transition: .3s ease 0s;

        &:hover{
            border: 1px solid $mainColor;

            color: #000;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////
/* CONTACTS.HTML */
/////////////////////////////////////////////////////////////////////////////////////////////

.contact {
    @include adaptiveValue('padding-top', 110, 55);
    @include adaptiveValue('margin-bottom', 110, 55);

    // .contact__container
    &__container {}
    // .contact__subheading
    &__subheading {
        margin-bottom: 15px;

        font-weight: 700;
        line-height: lh(16, 20);
        color: #a3bbc8;
        text-align: center;
    }
    // .contact__title
    &__title {
        @include adaptiveValue('margin-bottom', 70, 50);

        text-align: center;
    }
    // .contact__info
    &__info {
        @include adaptiveValue('margin-bottom', 120, 60);

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;

        margin: 0 -15px;        
    }
    // .contact__block
    &__block {
        flex: 1 1 33.33333%;

        padding: 0 15px;

        min-width: 290px;
        max-width: 450px;
    }
    // .contact__item
    &__item {
        @include adaptiveValue('padding-top', 70, 40);
        @include adaptiveValue('padding-bottom', 70, 40);

        background-color: #f9f9f9;

        display: flex;
        flex-direction: column;
        align-items: center;

        border: 1px solid transparent;

        transition: border .3s ease 0s;

        height: 100%;

        path{
            transition: .3s ease 0s;
        }

        &:hover{
            border: 1px solid #a3bbc8;

            path{
                fill: #FFF;
            }

            .contact__img-block{
                background-color: #a3bbc8;
            }
        }
    }
    // .contact__img-block
    &__img-block {
        @include adaptiveValue('margin-bottom', 65, 45);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 20px;
        background-color: #fff;

        width: 80px;
        height: 80px;

        transition: background-color .3s ease 0s;
    }
    // .contact__name
    &__name {
        margin-bottom: 15px;

        font-family: 'DM Sans';
        font-weight: 700;
        font-size: rem(20);
        line-height: lh(26, 20);
        color: #222222;
    }
    // .contact__text
    &__text {
        color: #565872;

        text-align: center;
    }
    // .contact__bottom
    &__bottom {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    // .contact__form
    &__form {
        max-width: 620px;
        flex-shrink: 1;
        flex-grow: 1;
    }
    // .contact__map
    &__map {
        text-align: center;
        flex: 1 1 500px;

        img{
            max-width: 100%;
        }
    }
}
.form-contact {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    flex-wrap: wrap;
    // .form-contact__item
    &__item{        
        background-color: #fafafa;
        border: 1px solid transparent;

        transition: border .3s ease 0s;

        &::placeholder{
            text-transform: uppercase;
            color: #565872;
        }

        &:focus{
            border: 1px solid #000;
        }
    }
    // .form-contact__input
    &__input {
        flex: 1 1 auto;

        padding: 0 20px;

        display: flex;
        align-items: center;

        height: 50px;
    }
    // .form-contact__textarea
    &__textarea {
        padding: 20px;
        height: 170px;
        min-height: 170px;
        width: 100%;
        resize: vertical;
    }
    // .form-contact__button
    &__button {}
}

/////////////////////////////////////////////////////////////////////////////////////////////
/* ABOUT.HTML */
/////////////////////////////////////////////////////////////////////////////////////////////

/* ABOUT SECTION + STATISTICS + TEAM STYLES */

.about {
    @include adaptiveValue('padding-top', 115, 55);
    @include adaptiveValue('margin-bottom', 115, 55);
    // .about__container
    &__container {}
    // .about__inner
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;

        margin: 0 -15px;
    }
    // .about__block
    &__block{
        flex: 1 1 50%;

        padding: 0 15px;

        min-width: 270px;
        max-width: 600px;
    }
    // .about__column
    &__column {
        img{
            max-width: 100%;
        }
    }
    // .about__experience
    &__experience {
        display: flex;
        align-items: center;
        column-gap: 30px;

        @include adaptiveValue('margin-bottom', 40, 20);

        max-width: 90px;

        span{
            color: #a3bbc8;
            font-family: "Rubik Bold";
            font-size: rem(140);
            line-height: 1;
        }        
    }
    // .about__title
    &__title {
        @include adaptiveValue('margin-bottom', 40, 20);
    }
    // .about__text
    &__text {
        margin-bottom: 35px;
        @include adaptiveValue('padding-bottom', 60, 30);        

        border-bottom: 1px solid #ebeef3;
    }
    // .about__stats
    &__stats {
        display: flex;
        gap: 20px 60px;
        flex-wrap: wrap;
        justify-content: center;
    }
    // .about__stats-item
    &__stats-item {
        display: flex;
        align-items: center;
        column-gap: 15px;

        &:not(:last-child){
            position: relative;

            &::after{
                content: "";
                position: absolute;
                top: 0;
                right: -30px;

                width: 1px;
                height: 100%;

                background-color: #ebeef3;
            }
        }

    }
    // .about__stats-block
    &__stats-block {
        font-family: 'DM Sans';
        font-weight: 700;
        color: #4c4c4c;
        line-height: 1.3;
        span{
            display: block;
        }
    }
}

.statistics {
    @include adaptiveValue('padding-top', 85, 40);
    @include adaptiveValue('padding-bottom', 85, 40);
    @include adaptiveValue('margin-bottom', 120, 20);

    background-color: #fcd7b6;
    
    // .statistics__container
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include adaptiveValue('column-gap', 100, 20);
        row-gap: 30px;

        padding-right: 40px;
        padding-left: 40px;
    }
    // .statistics__item
    &__item {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        width: 200px;

        line-height: 1;          

        img{
            position: relative;                      
        }
    }
    // .statistics__picture
    &__picture{
        position: relative;

        height: 57px;
        width: 66px;

        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
            content: "";
            position: absolute;
            top: 30px;
            right: -1px;
            z-index: 0;

            width: 30px;
            height: 30px;

            border-radius: 50%;
            background-color: #a3bbc8;
        }     
    }
    // .statistics__legend
    &__legend {
        text-align: center;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: rem(18);        
    }
    // .statistics__value
    &__value {}
}

.team {
    // .team__container
    &__container {
        display: flex;
        column-gap: 90px;
        row-gap: 50px;
    }
    // .team__info
    &__info {
        max-width: 310px;
    }
    // .team__title
    &__title {
        margin-bottom: 30px;
    }
    // .team__text
    &__text {
        margin-bottom: 30px;
    }
    // .team__button
    &__button {
        padding: 0 60px 0 20px;
    }
    // .team__cards
    &__cards {
        flex: 1 1 auto;

        display: flex;
        flex-wrap: wrap;

        margin: 0 -15px;
    }
    // .team__block
    &__block{
        flex: 1 1 50%;

        padding: 0 15px;

        min-width: 320px;
        max-width: 400px;
    }
    // .team__card
    &__card {
        position: relative;
    }
    // .team__picture
    &__picture{
        &._ibg{
            padding-bottom: 86.49%;
        }
    }
    // .team__card-info
    &__card-info{
        transform: translateY(-50%);

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 25px 20px;

        width: 87.84%;

        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }
    // .team__person
    &__person {}
    // .team__name
    &__name {
        font-family: 'DM Sans';
        font-weight: 700;
        color: #436372;
        font-size: rem(22);
        line-height: lh(26, 22);
    }
    // .team__profession
    &__profession {
        color: #565872;
    }
    // .team__social
    &__social {
        display: flex;
        column-gap: 10px;
    }
    // .team__social-link
    &__social-link {
        width: 40px;
        height: 40px;

        background-color: #f6f6f6;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color .4s ease 0s;

        path{
            transition: .4s ease 0s;
        }

        &:hover{
            background-color: #a3bbc8;

            path{
                fill: #FFF;
            }
        }
    }
}

@media(max-width: 1100px){
    .about{
        &__inner{
            flex-direction: column;
        }
        &__block{
            max-width:  none;
        }        
        &__stats-item::after{
            display: none;
        }
    }

    .statistics{
        &__legend{
            min-width: 200px;
        }
    }

    .team{
        &__container{
            flex-wrap: wrap;
        }
        &__info{
            max-width: none;
        }
        &__cards{
            justify-content: center;
        }

        &__button{
            display: block;
            margin: 0 auto;

            width: fit-content;            
        }
    }
}

@media(max-width: $mobile){
    .team{
        &__card-info{
            width: 100%;
        }
    }
}

/* END OF ABOUT SECTION + STATISTICS + TEAM STYLES */

/////////////////////////////////////////////////////////////////////////////////////////////
/* PRODUCT.HTML */
/////////////////////////////////////////////////////////////////////////////////////////////

/* PRODUCT SECTION */

.product {
    @include adaptiveValue('padding-top', 115, 55);
    @include adaptiveValue('margin-bottom', 115, 55);
    // .product__container
    &__container {}
    // .product__inner
    &__inner {
        display: flex;
        @include adaptiveValue('column-gap', 80, 10);
        align-items: center;
    }
    // .product__images
    &__images{
        display: flex;
        column-gap: 30px;
    }    
    // .product__thumbs
    &__thumbs {
        height: 530px;
    }
    // .product__thumbs-container
    &__thumbs-container {}
    // .product__thumb
    &__thumb {
        width: 140px;
        height: 160px;

        border: 2px solid #646363;

        overflow: hidden;

        transition: .5s ease 0s;
        transition-property: border, opacity;

        cursor: pointer;

        img{
            width: 100%;
            height: 100%;

            object-fit: cover;
        }

        &:hover{
            border: 2px solid #000;

            opacity: .7;
        }
    }
    // .product__pictures
    &__pictures {
        max-width: 380px;
        @include adaptiveValue('height', 530, 370, 600, 320);
    }
    // .product__pictures-container
    &__pictures-container {}
    // .product__picture
    &__picture {
        border: 2px solid #646363;

        overflow: hidden;

        transition: border .3s ease 0s;

        img{
            width: 100%;
            height: 100%;

            object-fit: cover;
            display: block;
        }

        &:hover{
            border: 2px solid #000;
        }
    }
    // .product__info
    &__info {}
    // .product__title
    &__title {}
    // .product__rating
    &__rating{
        margin-bottom: 30px;

        &.jq-ry-container{
            padding: 0;
        }
    }
    // .product__price
    &__price{
        margin-bottom: 25px;

        color: #333333;
        font-size: rem(30);
        line-height: lh(45, 30);
    }
    // .product__description
    &__description {
        margin-bottom: 25px;
    }
    // .product__order
    &__order {
        margin-bottom: 50px;

        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
    // .product__quantity
    &__quantity {
        display: flex;        
    }
    // .product__quantity-change
    &__quantity-change {
        border: 1px solid $mainColor;

        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 25px;

        cursor: pointer;

        transition: .3s ease 0s;
        transition-property: color, border;

        &:hover{
            border: 1px solid $accent;
            color: $accent;
        }
    }
    // .product__quantity-value
    &__quantity-value{
        width: 50px;

        text-align: center;

        border-top: 1px solid $mainColor;
        border-bottom: 1px solid $mainColor;
    }
    // .product__button
    &__button {}
    // .product__data
    &__data {}
}

@media(max-width: 1000px){
    .product{
        &__inner{
            flex-direction: column;
            row-gap: 30px;
        }
    }
}

@media(max-width: 600px){
    .product{
        &__images{
            width: 100%;
        }
        &__thumbs{
            display: none;
        }
        &__order{
            justify-content: center;
        }
    }
}

/* END OF PRODUCT STYLES */

/* DESCRIPTION (TABS) SECTION */

.description {
    @include adaptiveValue('margin-bottom', 115, 55);
    // .description__container
    &__container {}
    // .description__tabs
    &__tabs {}
}
.tabs {
    // .tabs__nav
    &__nav {
        margin-bottom: 35px;

        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    // .tabs__nav-item
    &__nav-item {}
    // .tabs__btn
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'Rubik Medium';
        font-size: rem(18);
        line-height: lh(40, 18);
        color: $mainColor;

        width: 240px;
        height: 50px;

        background-color: #edf1f4;
        border-radius: 5px;

        transition: .3s ease 0s;
        transition-property: opacity, background-color;

        &:hover{
            opacity: .6;
        }
        // .tabs__btn--active
        &--active {
            background-color: #a3bbc8;
            color: #FFF;

            pointer-events: none;
        }
    }
    // .tabs__content
    &__content {}
    // .tabs__panel
    &__panel {
        display: none;
        // .tabs__panel--active
        &--active {
            display: block;
        }
    }
}

/* END OF DESCRIPTION SECTION STYLES */

/* RELATED SECTION STYLES */

.related {
    @include adaptiveValue('margin-bottom', 80, 25);
    // .related__container
    &__container {}
    // .related__top
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include adaptiveValue('margin-bottom', 70, 25);
    }
    // .related__title
    &__title{}
    // .related__navigation
    &__navigation{
        display: flex;
        gap: 20px;

        .swiper-button-prev,
        .swiper-button-next{
            position: static;
            margin-top: 0;

            &::after{
                display: none;
            }

            width: 50px;
            height: 50px;

            border-radius: 5px;

            border: 2px solid #a3bbc8;

            transition: .3s ease 0s;
            transition-property: border, opacity;

            &:hover{
                border: 2px solid #6b95ac;
            }
        }
        .swiper-button-disabled{
            opacity: .5;
        }
    }
    // .related__slider
    &__slider {
        padding: 20px;
    }
    // .related__wrapper
    &__wrapper {}
    // .related__card
    &__card {
        box-shadow: 0px 6px 10px 3px rgba(37, 37, 37, 0.05);

        &:hover{
            box-shadow: 0px 6px 10px 3px rgba(37, 37, 37, 0.5);
        }
    }

}

/* END OF RELATED STYLES */

/////////////////////////////////////////////////////////////////////////////////////////////
/* .HTML */
/////////////////////////////////////////////////////////////////////////////////////////////



































































/////////////////////////////////////////////////////////////////////////////////////////////

/* TOP OF EVERY PAGE AFTER MENU */

.page-name {
    padding: 30px 0;

    background-color: #edf1f4;
    // .page-name__heading
    &__heading {
        margin-bottom: 15px;

        color: #222933;
        font-weight: 300;
        font-size: rem(36);
        line-height: lh(24, 36);
        text-align: center;
    }
    // .page-name__breakcrumbs
    &__breakcrumbs {
        font-size: rem(14);
        line-height: lh(24, 14);
        color: #929292;
        text-align: center;
    }
    // .page-name__link
    &__link {}
}

/* BOTTOM BLOCK STYLES */

.insights {
    .bottom-short &{
        .articles,
        .insights__header{
            display: none;
        }
        .partners{
            @include adaptiveValue('padding-top', 85, 40);
            margin-top: 0;
        }
    }
    // .insights__container
    &__container {}
    // .insights__header
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px 10px;

        margin-bottom: 45px;
    }
    // .insights__title
    &__title {}
    // .insights__title-link
    &__title-link {
        transition: .3s ease 0s;
        svg{
            margin-left: 15px;
        }
        path{
            transition: .3s ease 0s;
        }

        &:hover{
            color: $accent;

            path{
                fill: $accent;
            }
        }
    }
    // .insights__articles
    &__articles {
        position: relative;
        z-index: 2;        
    }
    // .insights__partners
    &__partners {
        background-color: $bottomBG;
        padding-top: 300px;
        @include adaptiveValue('padding-bottom', 85, 40);

        margin-top: -210px;
    }
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;

    margin: 0 -15px;    

    //.articles__block
    &__block{
        flex: 1 1 33.3333%;

        padding: 0 15px;

        min-width: 300px;
        max-width: 400px;
    }
    // .articles__item
    &__item {
        display: flex;
        flex-direction: column;

        height: 100%;

        overflow: hidden;

        border-radius: 5px;

        transition: transform .3s ease 0s;

        &:hover{
            transform: scale(1.05);
        }
    }
    // .articles__link
    &__link {
        position: relative;

        padding-bottom: 67.6%;        

        span{
            position: absolute;
            bottom: -15px;
            left: 30px;

            padding: 0 30px;

            height: 30px;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #FFF;
            text-transform: uppercase;
            font-size: rem(14);
            line-height: 1;
            font-weight: 700;

            background-color: #a3bbc8;

            border-radius: 25px;
        }        
    }
    // .articles__image
    &__image {}
    // .articles__content
    &__content {
        @include adaptiveValue('padding', 30, 15);

        background-color: #fff;

        color: #262626;

        display: flex;
        flex-direction: column;

        height: 100%;
    }
    // .articles__text
    &__text {
        margin-bottom: 20px;
        padding-bottom: 15px;

        font-family: 'DM Sans';
        font-weight: 500;
        font-size: rem(18);        
        line-height: 1.2;
    }
    // .articles__info
    &__info {
        padding-top: 20px;

        display: flex;
        column-gap: 30px;
        justify-content: flex-start;
        align-items: center;

        text-transform: uppercase;

        border-top: 1px solid #e0e0e0;
    }
    // .articles__date
    &__date {}
    // .articles__author
    &__author {}
}

.partners {
    // .partners__inner
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    // .partners__link
    &__link {
        transition: .3s ease 0s;

        &:hover{
            opacity: .7;

            transform: scale(1.1);
        }
    }
}

@media(max-width: 1030px){
    .articles{
        &__info{
            column-gap: 0;
            justify-content: space-between;
        }
    }
}

/* END OF BOTTOM BLOCK STYLES */

/* FOOTER STYLES */

.footer {
    color: #7b7b7b;
    font-size: rem(14);
    line-height: lh(24, 14);

    // .footer__container
    &__container {}
    // .footer__inner
    &__inner {
        @include adaptiveValue("padding-top", 70, 30);
        @include adaptiveValue("padding-bottom", 70, 30);

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 20px;

        border-bottom: 1px solid #7b7b7b;
    }
    // .footer__contact
    &__contact {
        max-width: 200px;

        img{
            margin-bottom: 10px;
        }
        p:not(:last-child){
            margin-bottom: 20px;
        }
    }
    // .footer__address
    &__address {}
    // .footer__phone
    &__phone {}
    // .footer__email
    &__email {}
    // .footer__services
    &__services {
        padding-right: 15px;
        padding-left: 15px;
    }
    // .footer__title
    &__title {
        margin-bottom: 30px;
        margin-top: 15px;

        font-family: 'DM Sans';
        font-size: rem(16);
        line-height: lh(16, 21);
        color: #1f2044;
        font-weight: 700;
        text-transform: uppercase;
    }
    // .footer__list
    &__list {}
    // .footer__item
    &__item {
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    // .footer__link
    &__link {}
    // .footer__account
    &__account {
        padding-right: 15px;
    }
    // .footer__newsletter
    &__newsletter {
        max-width: 270px;
    }
    // .footer__text
    &__text {
        margin-bottom: 35px;
    }
    // .footer__form
    &__form {
        display: flex;
    }
    // .footer__input
    &__input {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 130px;
        width: 100%;

        padding: 0 15px;

        height: 38px;

        color: #7b7b7b;

        border: 1px solid transparent;
        background-color: #fef7f0;

        transition: border .3s ease 0s;

        &::placeholder{
            font-family: 'DM Sans';
            color: #234969;
            font-size: rem(12);
        }

        &:focus{
            border: 1px solid #234969;
        }
    }
    // .footer__btn
    &__btn {
        padding: 0 15px;

        height: 38px;

        text-transform: none;
        font-size: rem(14);
        line-height: lh(21, 14);
        font-weight: 400;

        border-radius: 0;
    }
    // .footer__bottom
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
        flex-wrap: wrap;

        padding: 35px 0;

        font-size: rem(14);
    }
    // .footer__copyright
    &__copyright {}
    // .footer__menu
    &__menu {
        display: flex;
        column-gap: 15px;        
    }
    // .footer__menu-item
    &__menu-item {
        line-height: 1;

        &:not(:last-child){
            padding-right: 15px;

            border-right: 1px solid #7b7b7b;
        }
    }
    // .footer__menu-link
    &__menu-link {
        
    }
}

@media(max-width: $mobile){
    .footer{
        &__bottom{
            justify-content: center;
            row-gap: 20px;
        }
    }
}

@media(max-width: $mobileSmall){
    .footer{
        &__inner{
            justify-content: center;
            column-gap: 20px;
        }
        &__contact{
            max-width: 100%;
        }
        &__newsletter{
            .footer__title{
                text-align: center;
            }
        }
    }
}

/* END OF FOOTER STYLES */

